*{
  margin: 0px;
  padding: 0px;
}

body{
 
    margin: 0px;
}

/* Primeiro Background inicio*/

.background{
    height: 100vh ;
    background: url(img/fundo_2.jpg);
    background-size: cover; 
 
    
}

/* Primeiro Background fim*/

/* Segundo Background inicio*/

#background2{
  /*  width: 100vw ; */
    height: 100vh ;
    background: url(img/banco.png);
   background-size: cover; 
 

}

/* Segundo Background Fim*/


#background3{
height: 100vh ;
background: url(img/fundo_3.webp);
background-size: cover; 
}

/* Mensagem inico */
.direita{
  float: right;
  margin-top: 150px;
  margin-right: 50px;
  
}

.text{
    color: white;
    font-size: 2em;
    margin-bottom: 768px;
}

textarea{
    width: 20em;
    height: 10em;
}

.font{
    color: white;
    font-size: 1.5em;
    margin: 0 0 0 0;
    padding: 100px 0 0 145px;
    text-transform: uppercase;
    opacity: 0.8;
}

#text1{
    color: white;
    font-size: 1.2em; 
    text-transform: uppercase;
    padding: 60px 0 0 10px;
    text-align: center;
    opacity: 0.8;

}


.testes{
  color: white;
  font-size: 1.5em;
  text-transform: uppercase;
margin: 0px 0 0 700px;

}


.text-inici{
 display: inline;
  text-decoration: none;
  list-style: none;
 padding: 0px 0 0 50px;

}
/* formatação Links */
a:link {
  color: white;
  background-color: transparent;
  text-decoration: none;
}

a:visited {
  color: white;
  background-color: transparent;
  text-decoration: none;
}

a:hover {
  color: white;
  background-color: transparent;
  text-decoration: none;
}



/*a:active {
  
  background-color: transparent;
  text-decoration: underline;
} */

.form1{
  padding-top: 10px;
  
  
}

.form{
 
  width: 40vw;
  height: 50px;
  margin: 0 0 0 5%;
  border-radius: 10px;
  opacity: 0.8; 
  padding-left: 5px;
  background-color: white;
  font-family:'Times New Roman', Times, serif ;

}

.button{
  background-color: #028714;
  font-size: 20px;
  font-family: 'Times New Roman', Times, serif;
  height: 30px;
  width: 15vw;
  border-radius: 60px;
  margin: 8px 0 0 5%;
  color: white;
  box-shadow: 0px 5px #028714;
}

.button:hover{
  font-size: 15px;
  height: 25px;
  width: 10vw;

}

.textFormt{
  color: black;
  text-transform: uppercase;
  font-family:Arial, Helvetica, sans-serif;
  text-align: center;
  padding-top: 10px;
  
}

.formttext{
  padding-top: 10px;
  text-align: center;
  color: black ;
}


#contat{
  color: white;
  font-family:Arial, Helvetica, sans-serif;
  font-size: 50px;
  padding: 10px 0 0 10px;
  text-transform: uppercase;
  text-align: center;

}

#projet{
  font-size: 60px; 
  text-align: center;
  padding: 20 0 0 0;
  text-transform: uppercase;
}

.img{
  padding: 20px;
  width: 250px;
  height: 500px;
  opacity: 0.6;
}

.img:hover{
width: 270px;
height: 500px;
opacity: 1;
cursor: pointer;

}


/* enviado */

#caixa_envio{
  width: 50%;
  height: 300px;
  background: #028714;
}




